DOMAIN_NAME=mchiaram.42.fr

MYSQL_DATABASE=wordpress_db
MYSQL_USER=mchiaram_manager
MYSQL_PASSWORD=
MYSQL_ROOT_PASSWORD=

# WORDPRESS CREDENTIALS
WP_ADMIN_USER=mchiaram_owner
WP_ADMIN_PASSWORD=
WP_ADMIN_EMAIL=mchiaram@student.42.fr

WP_USER=mchiaram_author
WP_PASSWORD=
WP_EMAIL=author@student.42.fr